.home {
  padding: 20px;
  min-height: 100%;
  width: 100%;
}

img.profile-img {
  height: 110px;
  width: 110px;
  border-radius: 5px;
  margin: 0 auto;
  float: right;
}

.contentRealm {
  padding-top: 15px;
}

.post-button {
  text-align: left !important;
  background-color: transparent !important;
  border: none !important;
  color: #000 !important;
  padding: 15px 10px !important;
}

.post-button:hover {
  background-color: #f2f2f2 !important;
  text-align: left;
  border: none;
  color: #000 !important;
}

.badge-new {
  text-shadow: none;
  float: right !important;
}

.post-icon {
  margin-right: 10px;
}

.card-home {
  background: radial-gradient(circle at 20% 20%, #5183f5 25%, #4640ff 100%);
  color: #ffffff;
}

.first-row {
  margin-bottom: 10px;
}