.page-header {
  display: block;
  padding: 20px 0px 20px 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dde8ef;
}

.page-header h1 {
  color: #444f64;
}

.page-content {
  margin-top: 10px;
}

.tag-container {
  margin-right: 5px;
  display: inline;
}

.tag-container::after {
  content: " •";
  color: #cccccc;
}
