.container {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}

.postHeading {
  padding: 20px 0px 20px 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dde8ef;
}

.postHeading h1 {
  color: #444f64;
}
