html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 80px;
  font-size: 16px;
}

a {
  color: #5183f5;
  text-decoration: none;
  border-bottom: 2px solid #e2eafd;
}

.container a:hover {
  color: #003d7a;
  text-decoration: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 5px;
}

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid #e7e7e7;
}

.navbar a {
  border-bottom: none;
}

.navbar {
  background-color: #fff;
  color: #000;
}

.navbar-brand small {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.navbar-brand {
  color: #000 !important;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  line-height: 25px;
  font-family: "PT Sans", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-nav > li > a {
  color: #000 !important;
  height: 40px;
  margin: 5px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: #e2e6ea;
  border-color: #dae0e5;
  border-radius: 0.2rem;
}

.ul.nav.navbar-nav {
  border-radius: 3px;
  border: 1px solid #fff;
}

li.nav-selected {
  border-bottom: 3px solid #444f64;
}

.workExperienceInfo {
  display: none;
}

.showExperienceInfo {
  display: block;
}

.footer:before {
  clear: both;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #222;
  padding-top: 15px;
  color: #ccc !important;
  font-weight: 300;
  line-height: 1.4;
}

.footer a {
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #bbb !important;
}

.footer a:hover {
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #fff !important;
  text-decoration: none;
}

.page-error {
  font-size: 100px;
}

.public-key {
  background-color: transparent;
  border: none;
}

/**
* Timeline in bootstrap ... I never wish to have to recreate this
* It was an absolute nightmare!
*/

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 75%;
  /*float: left;*/
  left: 5%;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 17px;
  right: -15px;
  display: inline-block;
  border: 15px solid transparent;
  border-right: 0 #ccc;
  border-left-color: #ccc;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 18px;
  right: -14px;
  display: inline-block;
  border: 14px solid transparent;
  border-right: 0 #fff;
  border-left-color: #fff;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  margin-left: -15px;
  background-color: #444f64;
  z-index: 100;
  border-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  /*float: left;*/
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .timeline-body ul {
    padding-left: 10px;
  }

  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

footer .lead {
  margin-bottom: 0;
}
